body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    color: rgba(170, 33, 33, 1);
}

.content {
    margin-bottom: 20px;
}

.content h2 {
    color: rgba(170, 33, 33, 1);
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.footer a {
    color: rgba(170, 33, 33, 1);
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}