@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    display: grid;
    width: 100%;
    min-height: 100vh; 
    grid-template-rows: auto auto auto; 
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "content";
    color: black;
    overflow-y: auto; 
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.header{
    grid-area: "header";
    background-image: linear-gradient(180deg, rgba(88, 14, 14, 1) 0%, rgba(149, 30, 30, 1) 40%);
    color: white;
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

.h-left{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.h-left h1 {
    font-size: 28px;
    line-height: 1;
    font-weight: 600;

}
.h-left a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    display: inline-block;           
    padding: 12px 20px;              
    font-size: 16px;                 
    border-radius: 25px;            
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgb(170, 33, 33); /* Stesso rosso del pulsante della barra di ricerca */
    color: white;
    transform: scale(1.05);
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons button {
    padding: 12px 24px;              
    font-size: 16px;               
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-btn {
    background-color: white;
    color: rgb(170, 33, 33);
    border: 1px solid rgb(170, 33, 33);
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease;
    
}

.login-btn:hover {
    background-color: rgb(170, 33, 33);
    color: white;
    transform: scale(1.05);
    opacity: 0.9;
}
.register-btn {
    background-color: rgb(170, 33, 33);
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.register-btn:hover {
    background-color: rgb(150, 30, 30);
    transform: scale(1.05);
    opacity: 0.9;
}



.profile-container:hover .profile-icon{
    transform: scale(1.1); /* Effetto di ingrandimento al passaggio del mouse */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Ombra più pronunciata */
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.profile-icon {
    width: 80%;      /* L'immagine riempie tutto il bottone */
    height: 80%;     /* L'immagine riempie tutto il bottone */
    border-radius: 50%;
    object-fit: cover; /* Ritaglia l'immagine senza deformarla */
    display: block; /* Adatta l'immagine senza distorcerla */
    margin: 0px;
    cursor: pointer;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Contenitore del menu a tendina */
.profile-container {
    position: relative; /* Necessario per posizionare il menu a tendina */
    display: inline-block;
    align-content: center;
    justify-content: center;
    width: 80px; /* Aumenta la larghezza del contenitore */
    height: 80px; /* Aumenta l'altezza del contenitore */
    cursor: pointer;
}

/* Menu a tendina */
.dropdown-menu {
    display: none; /* Nascondi il menu di default */
    position: absolute;
    top: 80px; /* Posiziona il menu sotto il bottone */
    right: 30px;
    background-color: white;
    border: 1px solid rgba(170, 33, 33, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 150px;
    padding: 10px 0;
}

/* Pulsanti del menu */
.dropdown-item {
    display: block;
    width: 100%;
    padding: 10px 15px;
    text-align: left;
    background-color: white;
    color: rgba(170, 33, 33, 1);
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: rgba(170, 33, 33, 0.1);
    color: rgba(170, 33, 33, 1);
}

/* Mostra il menu a tendina quando si passa sopra il contenitore */
.profile-container:hover .dropdown-menu {
    display: block;
}

.main{
    grid-area: main;
    display:grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        'dati desc'
        'dati desc'
        'barra barra';
    justify-content: center;
    align-items: start;
    column-gap: 20px;
    row-gap: 20px;
    background-color: white;
    margin: 0 auto 30px;
    width: 85%;
    height: fit-content;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 0px;
    padding-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}


.dati{
    grid-area: dati;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin:  auto;
    margin-left: 20px;
    padding: 20px;
    align-items: left;
}

.desc{
    grid-area: desc;
    box-sizing: border-box;
    text-align: justify;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}
.nome{
    display: flex ;
    flex-direction: row;
    margin-bottom: 0px;
}

.nome h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 600;
}

.desc p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    text-align: justify;
}


.barra{
    grid-area:barra;
    display: flex;
    padding: 0px;
    border-top: 2px solid #ddd;
    width: 100%;
    position: relative;
    align-items: center;
    margin-bottom: 0px;
    height: 60px;
}

.bottone{
    flex: 1;
    padding: 0 15px;
    height: 100%;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.bottone:hover{
    background-color: rgb(150, 30, 30);
    color:white;
    opacity: 0.9;
}

.bottone.active{
    background-color: rgb(150, 30, 30);
    color: white;
}

.barra .bottone i {
    margin-right: 8px;
    font-size: 18px;
    color: rgba(170, 33, 33, 1);
}

.barra .bottone.active i,
.barra .bottone:hover i {
    color: #fff;
}


.professori{
    flex:1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
    width: 85%;
    border: 1px solid #ddd;
    border-radius: 15px;
    height:fit-content;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px;

}


.prof{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 65%; 
    margin: 0 auto;
    margin: 20px auto; 
}

.prof:hover {
    transform: translate(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    background-color:rgb(170, 33, 33);
    color: white;
}

.prof h3 {
    margin: 0 0 0px;
    font-size: 20px; /* Aumenta la dimensione del titolo */
    font-weight: 500;
}

.prof p {
    margin: 0 0 0;
    color: #555;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

.prof a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none; 
    color: inherit; 
    width: 100%; 
    height: 100%;
    padding: 20px; 
    border-radius: 15px; 
}


.form-container {
    width: 85%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.recensione-form, .materiale-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.recensione-form input,
.recensione-form textarea, .materiale-form input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 2px solid darkgray;
    border-radius: 5px;
}

.recensione-form textarea{
    resize:none;
}

.recensione-form textarea:focus {
    border-color: rgb(170, 33, 33);
    outline: none;
}

.recensione-form textarea::placeholder {
    font-size: 15px;
    color: #b0b0b0;
    font-style: italic;
}

.recensione-form button, .materiale-form button {
    padding: 10px;
    font-size: 16px;
    background-color: rgb(170, 33, 33);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.recensione-form button:hover, .materiale-form button:hover {
    background-color: rgb(150, 30, 30);
}

.recensione-form button:active, .materiale-form button:active {
    transform: scale(1.02);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.materiale-card{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    margin: 20px auto 20px;
    padding: 15px;
    padding-bottom: 0;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.titolo{
    font-size: 30px;
    text-align: center;
}

.mat, .rec-esami{
    background-color: white;
    margin: 0 auto 0;
    width: 85%;
    height: 500px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.rec{
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-basis: auto;
    align-items: flex-start; 
    width: 80%;
    margin: 15px auto;
    
    
}

.rec h2{
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    
}

.rec h3{
    margin: 0px;
    font-size: 18px;
    font-weight: 500; 
}


.rec p{
    padding-bottom: 10px;
    font-size: 17px;
    line-height: 1.3;
    border-bottom: 1px solid darkgray;
    width: 100%;
    text-align: justify;
}

.utente{
    font-size: 20px;
    color: rgba(149,30,30,1);

}

.mat p, .rec-esami p{
    padding-bottom: 10px;
    font-size: 17px;
    border-bottom: 1px solid darkgray;
}

.mat a, .rec-esami a{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: black;

}

.mat h1, .rec-esami h1{
    text-align: center;
    color: rgba(149, 30, 30, 1);
}

.errore{
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(88, 14, 14, 1);
    color: white;
    text-align: center;
    padding: 20px;
    width: 50%;
    justify-self: center;
}


.favorite-btn {
    background: none;
    border: none;
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s ease;
}

.favorite-btn:hover {
    color: #ffcc00; /* Colore giallo per l'hover */
}

.favorite-btn.active {
    color: #ffcc00; /* Colore giallo quando attivo */
}
.rec{
    position: relative;
}

.materiale-card{
    position: relative;
}
.report-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: 1px solid rgba(192,54,57,1);
  color: rgba(192,54,57,1); 
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, opacity 0.2s;
  display: none;
  align-items: center;
  gap: 5px;
}

.rec:hover .report-btn,
.materiale-card:hover .report-btn {
    display: block;
}

.report-btn:hover {
  background-color: rgba(192,54,57,1);
  color: white;
  transform: scale(1.05);
}

.prof:active{
    border-color: rgb(170, 33, 33);
    background-color: #ffeaea;
    color: rgb(170, 33, 33);
}




@media (max-width: 768px) {
    
    .main{
        grid-template-areas: 
        'desc'
        'dati'
        'barra';
    }
    nav ul li a{
        font-size: 13px;
    }

    .register-btn {
        display: none;
    }

    .h-left h1 {
        margin: 0;
        font-size: 24px;
    }

    .register-btn {
        display: none;
    }

    .desc h1{
        font-size: 25px;
        text-align: center;
    }

    .desc p{
        font-size: 16px;
    }

    .dati{
        margin: 0 auto;
        padding-top:0px;
        padding-bottom: 0px;
    }

    .desc{
        padding-bottom: 0px;
    }

    .dati p{
        font-size: 16px;
    }

    .login-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 0;
        line-height: 40px;
        text-align: center;
        background-color: rgb(170, 33, 33);
        background-image: url('../assets/utente.png');
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        border: none;
        transition: transform 0.3s ease, background-color 0.3s ease;
        text-indent: -9999px; /* DA SISTEMARE */
    }

    .login-btn:hover {
        transform: scale(1.1);
        background-color: rgb(150, 30, 30);
    }

    .auth-buttons {
        flex-direction: row;
        justify-content: center;
        gap: 5px;
    }

    .barra .bottone{
        font-size: 14px;
    }

    .professori{
        width: 90%;
        align-self: center;
    }


    .prof{
        transform: scale(0.9);
    }

    .prof h3{
        font-size: 17px;
    }

    .mat h1{
        font-size: 20px;
    }

    .materiale-form, .recensione-form{
        transform: scale(0.9);
    }

    .titolo{
        font-size: 20px;
    }

    .utente{
        font-size: 15px;
    }

    .materiale-card a, .rec p{
        font-size: 13px;
    }


}

/*sotto i 480px */
@media (max-width: 480px) {

    nav ul{
        padding: 5px;
        flex-direction: column;
    }

    nav ul li a {
        font-size: 10px;
    }

    .dropdown-menu {
        right: 10px; 
        width: 120px;
    }

    .dropdown-menu button{
        font-size: 12px;
    }

    .h-left{
        margin-right: 5px;
        margin-left: 0;
    }

    .header{
        width: 100%;
        padding: 10px;
    }

    .auth-buttons {
        margin-right: 10px;
    }

    .desc h1{
        font-size: 15px;
    }

    .desc p, .dati a{
        font-size: 12px;
    }

    .profile-icon, .favorite-btn {
        transform: scale(0.8);
    }

    .h-left h1 {
        font-size: 14px;
        margin: 0;
    }

    .dati p{
        font-size: 10px;
    }

    .professori{
        width: 90%;
        flex-direction: column;
    }

    .prof h3{
        font-size: 13px;
    }


    .barra .bottone{
        font-size: 9px;
    }
        
    .form-container h3 {
        font-size: 14px;
    }

    .recensione-form, .materiale-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .recensione-form input,
    .recensione-form textarea, .materiale-form input {
        font-size: 10px;
    }

    .recensione-form button, .materiale-form button {
        font-size: 12px;
    }

    .mat h1{
        font-size: 14px;
    }

    .titolo{
        font-size: 14px;
    }

    .utente{
        font-size: 12px;
    }


    .materiale-card a, .rec p{
        font-size: 10px;
    }

    .materiale-form, .recensione-form{
        transform: scale(0.8);
    }


}